* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
}

html {
  --primaer-graa: #f7f7f7;
  --primaer-roed: #f2efe7;
  --highlight: #6f1b1b;
}

.logo {
  width: 250px;
}
header {
  display: flex;
  background-color: var(--primaer-graa);
  justify-content: center;
  text-align: center;
  position: relative;
  height: 150px;
}

/* BURGER MENU */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 1rem;
}
a {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "brandon-grotesque";
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.navbar {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.filter_knap {
  display: none;
  cursor: pointer;
  padding-block: 1rem;
}

section.active .filter_gone {
  display: block;
}

/* Lægger splash billede i grid på forsiden */
.splash_img {
  object-fit: contain;
  grid-row: 1 / 11;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--primaer-roed);
  border-radius: 10px;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
  }
  .filter_knap {
    display: block;
  }

  .filter_gone {
    display: none;
  }

  section {
    transition: 0.3s;
    display: block;
  }

  section.active {
    background: var(--highlight);
    flex-direction: column;
  }
  section.active a {
    background-color: transparent;
    color: black;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar {
    color: var(--primaer-graa);
  }

  .filter_pil {
    align-items: center;
  }

  section.active svg {
    transition: 0.3s;
    transform: rotate(90deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 15%;
    text-align: center;
    transition: 0.3s;
  }

  nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    bottom: 0;
    left: 0;
    background-color: var(--highlight);
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
  }
  header.active {
    background-color: var(--highlight);
    transition: 1s;
  }
}
.splash {
  display: grid;
  max-width: 1200px;
  grid-column: 1;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 64.7px);
  overflow: hidden;
}

h1 {
  padding-block-start: 2rem;
  padding-block-end: 1rem;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-family: "brandon-grotesque", sans-serif;
  max-width: 60ch;
  justify-self: center;
}

h1,
h2,
h3,
nav {
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-family: "garamond-premier-pro", serif;
}

img {
  grid-column: 1 / 6;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.splash_knap {
  transition: 0.3s;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-style: none;
  border-radius: 10px;
  background-color: #6f1b1b;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "brandon-grotesque";
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  grid-column: 3 / 4;
  grid-row: 5 / 7;
  align-self: center;
  justify-self: center;
}

.splash_knap:hover {
  transition: 0.3s ease-in-out;

  background-color: transparent;
  border-style: solid;
  border-color: var(--primaer-roed);
  border-width: 2px;
}
