main {
  /* margin: 0 auto; */
  max-width: 1200px;
  display: grid;
}

/* BURGER MENU */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 1rem;
}
a {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "brandon-grotesque";
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.navbar {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.filter_knap {
  display: none;
  cursor: pointer;
  padding-block: 1rem;
}

section.active .filter_gone {
  display: block;
}

.button {
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: #670505;
  color: white;
  border-radius: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--primaer-roed);
  border-radius: 10px;
}
/* Lægger splash billede i grid på forsiden */
.splash_img {
  object-fit: contain;
  grid-row: 1 / 11;
  margin-top: var(--space-s);
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
  }
  .filter_knap {
    display: block;
  }

  .filter_gone {
    display: none;
  }

  section {
    transition: 0.3s;
    display: block;
  }

  section.active {
    background: var(--highlight);
    flex-direction: column;
  }
  section.active a {
    background-color: transparent;
    color: black;
  }
}
.splash {
  display: grid;
  max-width: 1200px;
  grid-column: 1;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 64.7px);
  overflow: hidden;
}

p {
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-family: "brandon-grotesque", sans-serif;
  max-width: 60ch;
  justify-self: center;
}

.splash_img {
  grid-column: 1 / 6;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.splash_knap {
  transition: 0.3s;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-style: none;
  border-radius: 10px;
  background-color: #6f1b1b;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "brandon-grotesque";
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  grid-column: 3 / 4;
  grid-row: 5 / 7;
  align-self: center;
  justify-self: center;
}

.splash_knap:hover {
  transition: 0.3s ease-in-out;

  background-color: transparent;
  border-style: solid;
  border-color: var(--primaer-roed);
  border-width: 2px;
}

@media screen and (max-width: 750px) {
  .splash_knap {
    grid-column: 2 / 5;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-inline-start: 1rem;
    padding-block-end: 1rem;
  }
  .footer-block {
    padding-top: 1rem;
  }
}
