main {
  margin: 0 auto;
  /* max-width: 1200px; */
}
html {
  /* variabler fra farver */
  --primaer-roed: #6f1b1b;
  --highlight: #f2efe7;

  --h1-size: clamp(3.5rem, 1.25rem + 4vw, 4.5rem);
  --h2-size: clamp(0.5rem, 1.75rem + 1.3333vw, 2rem);
  --h3-size: clamp(2rem, 0.75rem + 1.3333vw, 2.3rem);
  --h4-size: clamp(1.3rem, 2rem + 0vw, 1rem);
  --p-size: clamp(1.2rem, 0.75rem + 1.3333vw, 1.1rem);
  --a-size: clamp(1rem, 0.75rem + 1.3333vw, 1.1rem);
  /* variabler der definerer spacing mellem elementerne */
  --space-xs: 1rem;
  --space-s: 2rem;
  --space-m: 3rem;
  --space-l: 4rem;
  --space-xl: 5rem;
  --space-xxl: 10rem;
}
h1 {
  font-size: var(--h1-size);
  padding-block-start: 2rem;
  padding-block-end: 1rem;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-family: "garamond-premier-pro", serif;
}
h2 {
  font-size: var(--h2-size);
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-family: "garamond-premier-pro", serif;
}
h3 {
  font-size: var(--h3-size);
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-family: "garamond-premier-pro", serif;
}

p {
  font-family: "brandon-grotesque";
  font-size: var(--p-size);
  max-width: 60ch;
}

.pris {
  font-size: var(--h4-size);
  font-weight: bold;
}

.logo {
  width: 250px;
  justify-content: center;
}

header {
  display: flex;
  background-color: var(--highlight);
  justify-content: center;
  text-align: center;
  position: relative;
  height: 150px;
}

/* BURGER MENU */
* {
  margin: 0;
  padding: 0;
}

li {
  transition: 0.3s;
  list-style: none;
  margin: 1rem;
}
li a {
  transition: 0.3s;
  align-content: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-color: var(--primaer-roed);
}

.nav-item:hover a {
  background-color: var(--primaer-roed);
  color: white;
  transition: 0.3s;
  border-width: 2px;
  border-radius: 10px;
  padding-block: 0.3rem;
  padding-inline: 1rem;
}

a {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "brandon-grotesque";
  justify-content: space-evenly;
  align-items: center;
}
.navbar {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.filter_knap {
  display: none;
  cursor: pointer;
  padding-block: 1rem;
}

section.active .filter_gone {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primaer-roed);
}

.valgt {
  background-color: var(--primaer-roed);
  color: white;
  border-color: var(--primaer-roed);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--primaer-roed);
  border-radius: 10px;
}

.button {
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: #670505;
  color: white;
  border-radius: 5px;
}

/* footer */
footer {
  display: flex;
  background-color: var(--highlight);
  justify-content: space-evenly;
  margin-block-start: var(--space-xl);
  padding-block: var(--space-m);
}
.adress {
  display: flex;
}
.phone {
  display: flex;
}
.mail {
  display: flex;
}

@media screen and (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    padding-inline-start: 1rem;
    padding-block-end: 1rem;
  }
  .footer-block {
    padding-top: 1rem;
  }
}

.tilbage_container {
  margin: 0 auto;
  max-width: 1200px;
}

.tilbage_pil {
  transform: rotate(180deg);
  padding-inline-start: var(--space-xs);
}

.tilbage_knap {
  margin-block-end: var(--space-s);
  margin-inline-start: var(--space-xs);
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: var(--primaer-roed);
  background-color: transparent;
  border-width: 2px;
  color: black;
}

/* burger menu under 750px */
@media (max-width: 750px) {
  .hamburger {
    display: block;
  }
  .filter_knap {
    display: block;
  }

  .filter_gone {
    display: none;
  }

  section {
    transition: 0.3s;
    display: block;
  }

  section.active {
    background: var(--highlight);
    flex-direction: column;
  }
  section.active a {
    color: black;
    display: block;
    background-color: transparent;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar {
    color: var(--primaer-graa);
  }

  .filter_pil {
    align-items: center;
    padding-inline-start: var(--space-xs);
  }

  section.active svg {
    transition: 0.3s;
    transform: rotate(90deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 150px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 15%;
    text-align: center;
    transition: 0.3s;
  }

  nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    bottom: 0;
    left: 0;
    background-color: var(--highlight);
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
  }
  header.active {
    background-color: var(--highlight);
    transition: 1s;
  }
}
